{% extends 'base.html.twig' %}

{% block title %}New Certificate{% endblock %}

{% block body %}
    <h1>Create new Certificate</h1>

    {{ include('certificate/_form.html.twig') }}

    <a href="{{ path('app_certificate_index') }}">back to list</a>
{% endblock %}
